body, html{
    box-sizing: border-box;
    background-image: url("board.png");
    background-size:cover;
    background-repeat: no-repeat;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    background-color:limegreen;
    padding: 10px;
  }
  .gameCell {
    background-color: rgba(15, 14, 14, 0.8);
    border: 1px solid rgba(111, 180, 50, 0.521);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }