body, html{
    box-sizing: border-box;
    background-image:url("soda-clipart-royalty-free-images-orange-and-lemon-lime-soda-12125017.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#heading{
    text-align: center;
    color: rebeccapurple;
}
table, th, td{
    border: 1px solid black;
    padding: 10px;
    margin-left: 470px;
}